<p>Hello {{ username }}</p>,

<p>
  Welcome to ireolaniyan dot com. Please confirm your email address
</p>

<p>
  <a href="{{ appUrl('register/confirm/' + confirmation_token) }}">Confirm Email Address</a>
</p>
